body {
    background-color: #5e5b3b;
}

h1 {
    text-align: center;
    color: aliceblue;
    font-family:fantasy;
}

.para1 {
   color: aliceblue;
}

.test{
    /* This is comment */
      border-radius: 10dvb;
}
